<div id="wrapper">
  <div class="head_link">
    <span class="head_link__inner">
      <%= link_to home_path, class: "btn btn__back" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <div class="mobile_hidden">
        <%= render 'user/searches/form', keyword: "" %>
      </div>
    </span>
  </div>
  <%= render 'tab', keyword: @keyword %>
  <div class="area area__search_list">
    <div class="tab_content">
      <%= render 'user/users/index', users: @users, follow: "アカウントが見つかりませんでした"  %>
    </div>
  </div>
</div>
