<div id="message_room_wrapper">
  <p>メッセージ</p>
  <div class="message_room_list">
    <ul class="list">
      <% @user_rooms.each do |user_room| %>
        <% user = user_room.user %>
        <li class="item">
          <%= link_to message_path(user.id) do %>
            <%= attachment_image_tag user, :icon_image, :fill, 60, 60, fallback: "person-circle-outline.svg", size:"60x60" %>
            <%= "#{user.nickname}さんとのチャット" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
