<div class="area area__review">
  <%= render 'user/evaluations/search_form', content: "" %>
  <div class="review_list_area">
    <% if evaluations.present? %>
      <ul class="list", id="review_list">
        <%= render evaluations %>
      </ul>
      <%= paginate evaluations %>
      <%= render 'layouts/loader' %>
    <% else %>
      <p>まだ誰も評価していません</p>
    <% end %>
  </div>
</div>