<div id="wrapper">
  <div class="inner">
    <div class="head_link">
      <h2>卓報告</h2>
    </div>
    <div class="review_list_area">
      <% if @evaluations.present? %>
        <ul class="list", id="review_list">
          <%= render @evaluations %>
        </ul>
        <%= paginate @evaluations %>
        <%= render 'layouts/loader' %>
      <% else %>
        <p>まだ誰も評価していません</p>
      <% end %>
    </div>
  </div>
  <%= link_to new_user_evaluation_path, remote: true, class: "btn__new_report" do %>
    <i class="fas fa-bullhorn"></i>
  <% end %>
  <div id="modal"></div>
</div>
