<div id="wrapper">
  <div class="head_link">
    <span class="head_link__inner">
      <%= link_to other_user_evaluations_path, class: "btn btn__back" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <h2 class="head_link__title">卓報告</h2>
    </span>
  </div>
  <div class="tab__search">検索結果</div>
  <div class="tab_content">
    <%= render 'index', evaluations: @evaluations %>
  </div>
</div>
