/******************************************************************

Stylesheet: 480px以上のタブレットやモニタで適用

******************************************************************/
.font-sm {
  font-size: .7em;
}
.font-md {
  font-size: .9em;
}
.font-lr {
  font-size: 1.2em;
}
.font-lg {
  font-size: 1.5em;
}