/******************************************************************

Stylesheet: 480px以上のタブレットやモニタで適用

******************************************************************/
.font-sm {
  font-size: .7em;
}
.font-sr {
  font-size: .8em;
}
.font-md {
  font-size: .9em;
}
.font-lr {
  font-size: 1.2em;
}
.font-lg {
  font-size: 1.5em;
}

.icon_sm {
  width: 30px;
  height: 30px;
  font-size: 2.0em;
}
.icon_md {
  width: 40px;
  height: 40px;
}
.icon_lr {
  width: 50px;
  height: 50px;
}
.icon_lg {
  width: 80px;
  height: 80px;
}