/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
#side_area {
  display: block;
  width: 10vw;
  padding-left: 0;
  transform: translateX(0vw);
}

#main_area {
  width: 90vw;
  margin-left: 10vw;
}

#footer {
  display: none;
}

.head_link {
  padding: 10px 30px;
}

.mobile_menu_btn {
  display: none;
}

.comment_form_area {
  width: 90vw;
  bottom: 0;
}

.btn {
  &__recruit {
    margin-top: 30vh;
    & span {
      display: none;
    }
  }
  &__new_report {
    bottom: 6vh;
    right: 3vh;
  }
}

#modal {
  width: 60vw;
}