/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
#side_area {
  display: block;
  width: 10vw;
  padding-left: 0;
  transform: translateX(0vw);
  z-index: 996;

  & .side_menu {
    & .hidden {
      display: block;
    }
  }
}

#main_area {
  width: 90vw;
  margin-left: 10vw;
}

#footer {
  display: none;
}

.area {
  width: 85vw;
}

.icon_lg {
  width: 90px;
  height: 90px;
}

.head_link {
  padding: 10px 30px;
}

.mobile_menu_btn {
  display: none;
}

.comment_form_area {
  width: 90vw;
  bottom: 0;
}

.btn {
  &__reserve,
  &__cancel,
  &__reserve_list {
    display: inline-block;
    width: auto;
    height: auto;
    & span {
      display: inline-block;
    }
  }

  &__recruit {
    margin-top: 30vh;
    & span {
      display: none;
    }
  }
  &__new_report {
    bottom: 6vh;
    right: 3vh;
  }
}

#modal {
  width: 60vw;
}

#top_wrapper {
  & .top_img {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/bg-top-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__login {
      background-image: url("/images/bg-login.png");
      background-color: #000;
    }
  }

  & .top_section {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 50vw;
    border-radius: 8px;
  }
}

.user_recruit_list {
  & ion-icon {
    font-size: 4.5em;
  }

  & .status_expired {
    font-size: 3.5em;
  }
  & .recruit_date {
    align-items: flex-start;
    flex-direction: row;
    align-items: flex-end
  }
}

.recruit_detail_table {
  & th {
    width: 25%;
    padding: 6px;
  }
}