/******************************************************************

Stylesheet: 960px以上のタブレットやモニタで適用

******************************************************************/
.font-sm {
  font-size: .7em;
}
.font-md {
  font-size: 1.0em;
}
.font-lr {
  font-size: 1.3em;
}
.font-lg {
  font-size: 1.5em;
}

.icon_sm {
  width: 40px;
  height: 40px;
}
.icon_md {
  width: 50px;
  height: 50px;
}
.icon_lr {
  width: 60px;
  height: 60px;
}
.icon_lg {
  width: 110px;
  height: 110px;
}

#container {
  width: 100vw;
}

#side_area {
  width: 20vw;
}

#main_area {
  width: 60vw;
  min-height: 100vh;
  margin-left: 20vw;
}

.area {
  width: 55vw;
}

.comment_form_area {
  width: 60vw;
}


#modal {
  width: 40vw;
}

.btn {
  &__recruit {
    margin-top: 5vh;
    & span {
      display: block;
    }
  }
  &__new_report {
    right: 21vh;
  }
}

#top_wrapper {
  & .top_img {
    width: 50vw;
    height: 100vh;
    background-size: cover;
  }

  & .top_section {
    height: 100vh;
    width: 50%;
    top: 0;
    left: 50%;
    transform: translate(0%, 0%);
    border-radius: 0px;
  }

  & .top_title {
    font-size: 3.2em;
  }

  & .sub_title {
    font-size: 2em;
  }
}
.account_form {
  width: 50%;
}
