/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
.font-sm {
  font-size: .7em;
}
.font-md {
  font-size: .9em;
}
.font-lr {
  font-size: 1.1em;
}
.font-lg {
  font-size: 1.3em;
}

body {
  letter-spacing: 0.125em;
  // font-family: ronde-b, sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  // font-family: 'Kaisei Decol', serif;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

#container {
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

#side_area {
  position: fixed;
  width: 70vw;
  height: 100%;
  transform: translateX(-70vw);
  padding-left: 6vw;
  z-index: 998;
  background: #fff;
  transition: all .3s;
  &.open {
    transform: translateX(0vw);
  }
}

#main_area {
  position: relative;
  border: 1px solid #DDD;
  width: 100%;
  min-height: 100vh;
  margin-left: 0;
  padding-bottom: 10vh;
}

#footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background: #fff;
}


.list {
  padding: 10px;
  margin-bottom: 60px;
}

.item {
  @extend .font-md;
  position: relative;
  border: 1px solid #DDDDDD;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgb(0, 0, 0 / 1.2);
}

.upload_img {
  width: 25%;
  height: 25%;
}

.img_label {
  cursor: pointer;
}

#img_refile {
  display: none;
}

.img_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin badge {
  @extend .font-sm;
  color: #fff;
  border-radius: 5px;
  padding: 1px 2px;
}

.head_link {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDD;
  padding: 10px 48px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 7vh;
  background: #fff;
  width: 100%;
  z-index: 200;
}

.user_profile_inner {
  border-bottom: 1px solid #DDD;
  padding: 20px;

  & .profile_name {
    @extend .font-lg;
    font-weight: bold;
    margin-bottom: 10px;
  }
  & .profile_intro {
    @extend .font-lr;
    margin-bottom: 10px;
  }

}

.profile_action_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_action_btn {
  display: flex;
  align-items: center;
}

.follow_count_area {
  display: flex;

  & a {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
  }

  & small {
   font-weight: bold;
  }
}

.face_icon {
  height: auto;
  border: 3px solid #fff;
  border-radius: 50%;
  object-fit: cover;
}

.user_recruit_list {

  & .item {
    border: none;
    padding: 0;
  }

  & .recruit_content {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #DDD;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    & dl {
      display: flex;
      margin-bottom: 5px;
      width: 100%;
    }
    & dt {
      @extend .font-md;
      font-weight: bold;
      width: 34%;
    }
    & dd {
      @extend .font-md;
      display: flex;
      align-items: center;
      margin: 0;
    }
    & p {
      @extend .font-md;
      font-weight: bold;
    }
  }

  & .recruit_status_area {
    width: 25%;
    margin-right: 10px;
  }

  & .user_post_info_area {
    width: 90%;
  }

  & .icon_status {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & ion-icon {
    font-size: 4.5em;
  }

  & .now {
    @include badge;
    background: #F53A33;
  }

  & .few {
    @include badge;
    background: orange;
  }

  & .end {
    @include badge;
    background: #0291C9;
  }

  & .status_now {
    color: #F53A33;
  }
  & .status_end {
    color: #0291C9;
  }
  & .status_few {
    color: orange;
  }

  & .profile_area {
    display: flex;
    align-items: center;
  }
  & .recruit_title {
    @extend .font-lg;
    border-bottom: 1px solid #DDDDDD;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background: $cSubBase;
  }

  & .recruit_date {
    @include badge;
    text-align: center;
    background: #000;
  }
}

.recruit_detail_table {
  border-radius: 8px;
  padding: 10px;
  border-collapse: collapse;
  background: #dbffed;

  & .recruit_detail_head {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  & .recruit_change_area {
    position: absolute;
    top: 7vh;
    right: 0;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    background: #fff;
    padding: 10px;
  }

  & tr {
    text-align: left;
  }

  & th {
    @extend .font-md;
    font-weight: bold;
    width: 30%;
    color: #474747;
  }

  & td {
    @extend .font-md;
    padding: 7px;
    border-left: 1px solid #fff;
  }

  & .recruit_img {
    & > img {
      width: 50%;
      height: 50%;
      border-radius: 8px;
    }
  }
}
.recruit_comment_list {
  & .item {
    display: flex;
    position: relative;
    padding: 10px;
  }

  & .profile_img {
    margin-right: 10px;
  }

  & .comment_delete_btn {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  & .comment_user_profile {
    display: flex;
    margin-bottom: 7px;
    & a {
      margin-right: 7px;
    }
    & small {
      line-height: 1.3rem;
    }
  }
}

.notice {

  &__head {
    display: flex;
    align-items: center;
  }

  &__form {
    @extend .font-md;
    margin-bottom: 10px;
    border-bottom: 1px dashed #DDD;
    & span {
      white-space: nowrap;
    }

  }

  & a {
    white-space: nowrap;
  }


  &_nickname,
  &_action {
    font-weight: bold;
  }
  &__comment {
    @extend .font-md;
    color: #787878;
  }
}

.tag {
  @extend .font-sm;
  display: inline-block;
	margin: 0 .1em .6em 0;
	padding: .3em;
	line-height: 1;
	text-decoration: none;
	color: #fff;
	background: orange;
	border-radius: 2em;
}
.recruit_detail_inner {
  position: relative;
  padding: 20px 30px 0 30px;
}

.reserve_list_area {
  & .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.confirm_btn_area {
  text-align: center;
}

.prewrap {
  white-space: pre-wrap;
}

.follow_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.follow_intro {
  @extend .font-md;
  color: #787878;
}
.review_list_area {
  position: relative;

  & .comment_delete_btn {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}
.reviewer_head,
.reviewee_area,
.review_stars {
  display: block;
  margin-bottom: 10px;
}
.reviewee_area {
  font-weight: bold;
}
.review_stars {
  border-bottom: 1px dashed #DDD;
}

.review_show_area {
  & .item {
    background: #fff;
  }
}

.edit_face_icon {
  width: 130px;
  height: 130px;
  object-fit: cover;
}