/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
.font-sm {
  font-size: .7em;
}
.font-sr {
  font-size: .8em;
}
.font-md {
  font-size: .9em;
}
.font-lr {
  font-size: 1.1em;
}
.font-lg {
  font-size: 1.3em;
}

.icon_sm {
  width: 25px;
  height: 25px;
  font-size: 1.5em;
}
.icon_md {
  width: 30px;
  height: 30px;
}
.icon_lr {
  width: 40px;
  height: 40px;
}
.icon_lg {
  width: 70px;
  height: 70px;
}

body {
  letter-spacing: 0.125em;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Helvetica, Arial, Roboto, "Droid Sans", "游ゴシック", YuGothic, sans-serif;
  overflow-y: scroll;
  background: #EFF3F4;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

#container {
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

#side_area {
  position: fixed;
  width: 70vw;
  height: 100%;
  transform: translateX(-70vw);
  padding-left: 6vw;
  z-index: 998;
  background: #fff;
  transition: all .3s;
  border-left: 1px solid $cBorder;
  &.open {
    transform: translateX(0vw);
  }
}

#right_side_area {
  display: none;
  width: 20vw;
  z-index: 49;
  background: #fff;
  position: sticky;
  bottom: 10vh;

  & .news {
    width: 18vw;
    margin: 0 auto;
    &__head {
      margin-bottom: 15px;
    }
    &__list {
      margin: 10px 0;
      background: #F7F9F9;
      border-radius: 8px;
      padding: 5px 10px;
    }
    &__item {
      margin-bottom: 20px;
      &:hover {
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.2);
      }
    }
    & li:last-child {
      margin-bottom: 0;
    }
    &__inner {
      display: flex;
    }
    &__title {
      font-size: .8em;
    }
    &__image {
      width: 35%;
      height: fit-content;;
      border-radius: 8px;
    }
    &__publish {
      @extend .font-sm;
      color: #787878;
    }
  }
}

#main_area {
  position: relative;
  border: 1px solid $cBorder;
  width: 100%;
  min-height: 100vh;
  margin-left: 0;
  background: #fff;
}

#wrapper {
  width: 100%;
  min-height: 150vh;
  padding-bottom: 10vh;
  border-right: 1px solid $cBorder;
}

#footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background: #fff;
  z-index: 49;
}

.list {
  margin-bottom: 60px;
  margin-top: 20px;
}

.item {
  @extend .font-md;
  position: relative;
  border: 1px solid $cBorder;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  transition: all .3s;
  background: #fff;

  &__recruit {
    &:hover {
      box-shadow: 0px 6px 12px rgba(0, 0, 0, .3);
    }
  }
}

.upload_img {
  width: 25%;
  height: 25%;
}

.img_label {
  cursor: pointer;
}

#img_refile {
  display: none;
}

.img_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin badge {
  @extend .font-sm;
  color: #fff;
  border-radius: 5px;
  padding: 1px 2px;
  margin-top: 5px;
}

.head_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $cBorder;
  padding: 10px 10px 10px 41px;
  position: -webkit-sticky;
  position: sticky;
  background: #fff;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 200;
  &__title {
    @extend .font-lr;
    overflow: hidden;
    white-space: nowrap;
  }
  &__inner {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.user_profile_inner {
  border-bottom: 1px solid $cBorder;
  padding: 20px;

  & .profile_name {
    @extend .font-lg;
    font-weight: bold;
    margin-bottom: 10px;
  }
  & .profile_level {
    @extend .font-md;
    color: #fff;
    border-radius: 30px;
    padding: 3px 10px;
    font-weight: bold;
    background: #b87333;

    &.regular_level {
      background: linear-gradient(135deg, #0291C9 37%, #01619C 100%);
    }
    &.bronze_level {
      background: linear-gradient(135deg, #BA6E40 0%, #C08D5E 91%, #C08D5E 48%, #B87333 27%, #AE6938 82%, #C08D5E 79%, #976B2F 72%);
    }
    &.silver_level {
      background: linear-gradient(135deg, #C9CACA 0%, #9FA0A0 91%, #AEB3B5 48%, #EEEEEE 27%, #B9C3C9 82%, #9EACB4 79%, #DBDBDB 72%);
    }
    &.gold_level {
      background: linear-gradient(135deg, #b8751e 0%, #ffce08 91%, #FEF0B2 48%, #fafad6 27%, #fefeb2 82%, #e1ce08 79%, #b8751e 72%);
    }
  }
  & .profile_intro {
    @extend .font-lr;
    margin-bottom: 10px;
  }
}

.profile_action_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_action_btn {
  display: flex;
  align-items: center;
}

.follow_count_area {
  display: flex;

  & a {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
  }

  & small {
   font-weight: bold;
  }
}

.face_icon {
  border: 3px solid #fff;
  border-radius: 50%;
  object-fit: cover;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0, .2);
}

.user_recruit_list {
  & .item__recruit {
    padding: 0;

    &.no_active {
      background: $cBorder;
    }
  }

  & .remain_tag {
    @extend .font-sr;
    width: 90px;
    text-align: center;
    background: #C93A40;
    color: #fff;
    padding: 4px 8px;
    margin-right: 10px;

    &.end {
      background: #000;
    }
  }

  & .year,
  & .month,
  & .day,
  & .wday {
    @extend .font-lr;
    &__stu {
      color: #0291C9;
    }
    &__sun {
      color: #F53A33;
    }
  }

  & .recruit_head {
    font-weight: bold;
    border-bottom: 1px solid $cBorder;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  & .recruit_date {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    &.no_active {
      color: #8c8c8c;
    }
  }
  & .recruit_poster {
    @extend .font-sm;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
  }
  & .recruit_content {
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 8px 8px;
    &__wrapper {
      padding: 10px;
      display: flex;
      border-radius: 0 0 8px 8px;
      backdrop-filter: blur(5px);
      background-color: rgba(15,15,15,0.5);
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    }
    &.no_active {
      filter: grayscale(100%);
    }
  }
  & .recruit_title {
    @extend .font-lg;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
  }
  & .recruit_play_form,
  & .recruit_condition {
    @extend .font-md;
    font-weight: bold;
    margin-bottom: 6px;
    & div {
      display: flex;
    }
  }
  & .recruit_explanation {
    @extend .font-sr;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.recruit_detail_table {
  position: relative;
  border-radius: 8px;
  padding: 10px;
  border-collapse: collapse;
  background: #EFF3F4;
  font-weight: bold;

  & .table_head {
    display: flex;
  }

  & .recruit_change_area {
    position: absolute;
    top: 7vh;
    right: 0;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(101, 119, 134, 20%);
    font-weight: 500;

    &.open {
      visibility: visible;
      opacity: 1;
      z-index: 51;
    }
  }

  & tr {
    text-align: left;
    border-bottom: 2px dotted #fff;
  }

  & th {
    & div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & p {
      @extend .font-sm;
      font-weight: bold;
      display: none;
    }
    & span {
      @extend .font-lr;
      display: flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
    }
  }

  & td {
    @extend .font-md;
    padding: 7px;
  }

  & .recruit_img {
    width: 200px;
    & > img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
}
.recruit_comment_list {
  & .item {
    display: flex;
    position: relative;
    padding: 10px;
  }

  & .profile_img {
    margin-right: 10px;
  }

  & .comment_delete_btn {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  & .comment_area {
    width: 100%;
    &__head {
      display: flex;
      justify-content: space-between;
    }
  }

  & .comment_user_profile {
    display: flex;
    margin-bottom: 7px;
    & a {
      margin-right: 7px;
    }
    & small {
      line-height: 1.3rem;
    }
  }
}

.notice {
  display: flex;
  &__icon {
    display: flex;
    padding-top: 5px;
    margin-right: 10px;
    ion-icon, i {
      @extend .icon_sm;
    }
    & .icon_follow {
      color: #1D9BF0;
    }
    & .icon_comment {
      color: #00BA7C;
    }
    & .icon_reserve {
      color: #4C6EF5;
    }
    & .icon_cancel {
      color: #F53A33;
    }
    & .icon_message {
      color: #FE672E;
    }
    & .icon_review {
      color: #FFDC5D;
    }
  }
  &__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__inner {
    width: 100%;
  }

  &__form {
    @extend .font-md;
    margin-bottom: 10px;
    border-bottom: 1px dashed $cBorder;
    & span {
      white-space: nowrap;
    }
  }

  & a {
    white-space: nowrap;
  }

  &_nickname,
  &_action {
    font-weight: bold;
  }
  &__comment {
    @extend .font-md;
    color: #787878;
  }
}

.tag {
  @extend .font-sm;
  display: inline-block;
	margin: 0 .1em .6em 0;
	padding: .3em;
	line-height: 1;
	text-decoration: none;
	color: #fff;
	background: #f59537;
	border-radius: 2em;
}

.reserve_list {
  & .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.confirm_btn_area {
  text-align: center;
}

.prewrap {
  white-space: pre-wrap;
}

.follow_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.follow_intro {
  @extend .font-md;
  color: #787878;
}
.review_list_area {
  position: relative;

  & .comment_delete_btn {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}
.review_head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.reviewee_area,
.review_stars {
  display: block;
  margin-bottom: 10px;
}
.reviewee_area {
  font-weight: bold;
}
.review_stars {
  border-bottom: 1px dotted $cBorder;
}

.review_show_area {
  & .item {
    background: #fff;
  }
}

.area {
  width: 90vw;
  margin: 20px auto;
  padding-bottom: 100px;
}

#top_wrapper {
  width: 100%;
  & .top_section {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    background: #EFF3F4;
    padding: 20px;
  }

  & .top_site_logo {
    width: 30vh;
  }

  & .copy {
    color: #000;
  }

  & .top_title {
    @extend .font-lr;
    font-weight: bold;
  }

  & .sub_title {
    @extend .font-md;
    font-weight: bold;
  }

  & .account_sign {
    display: flex;
    flex-direction: column;
  }

  & .btn {
    &__signup {
      text-align: center;
      width: 100%;
      background: $cBase;
    }
    &__login {
      text-align: center;
      width: 100%;
      margin-top: 20px;
    }
  }
}

.mobile_hidden {
  display: block;
  width: 100%;
}

.send_mail_img {
  width: 50%;
  margin-bottom: 30px;
}

.area__send_mail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail_wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 8px;
  width: 100%;
  align-items: center;
}

.mail_head {
  margin-bottom: 30px;
}

.mail_content {
  width: 100%;
}

.mail_title {
  margin-bottom: 30px;
}
.mail_under {
  font-weight: bold;
  border-bottom: 5px solid $cSubBase;
}
