body {
  font-size: 1rem;
  letter-spacing: 0.125em;
  line-height: 1.2;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

#container {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

#side_area {
  position: fixed;
  width: 20%;
  height: 100%;
}

#main_area {
  width: 70%;
  height: 100%;
  margin: 0 0 0 26%;
}

@mixin badge {
  color: #fff;
  border-radius: 5px;
  padding: 1px 2px;
}

.user_profile_inner {
  border: 1px solid #DDDDDD;
  padding: 20px;
}

.profile_action_area {
  display: flex;
  justify-content: space-between;
}

.user_action_btn {
  display: flex;
}

.follow_count_area {
  display: flex;

 & p {
   margin-right: 20px;
 }

 & small {
   font-weight: bold;
 }
}


.user_recruit_list {
  border: 1px solid #DDDDDD;


  & .item {
    border: 1px solid #DDDDDD;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px;
  }

  & .recruit_detail_link {
   display: flex;
   align-items: center;
  }

  & .recruit_status_area {
    width: 10%;
    margin-right: 20px;
  }

  & .user_post_info_area {
    width: 90%;
  }

  & .icon_status {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & ion-icon {
    font-size: 3.5em;
    z-index: 1;
  }


  & .now {
    @include badge;
    background: red;
  }

  & .few {
    @include badge;
    background: orange;
  }

  & .end {
    @include badge;
    background: blue;
  }

  & .status_now {
    color: red;
  }
  & .status_end {
    color: blue;
  }
  & .status_few {
    color: orange;
  }

  & .profile_area {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  & .recruit_title {
    border-bottom: 1px dashed #DDDDDD;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
  }

  & .recruit_date {
    @include badge;
    text-align: center;
    background: #000;
  }
}

.post_group {
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  background: #fff;
  text-align: left;
  margin: 10px;
  padding: 20px;
}

.post_control {
  display: block;
  position: relative;
  margin-bottom: 15px;
  & .control {
    margin-bottom: 10px;
  }

  & small {
    @include badge;
    font-size: 5px;
    margin-left: 10px;
  }

  & .badge_any {
    background: gray;
  }
  & .badge_mandatory {
    background: red;
  }
}
.post_title {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type=text],
input[type=datetime-local],
select,
textarea {
  border: 1px solid #DDDDDD;
  border-radius: 20px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
  padding: 7px;
  &:focus {
    border: 1px solid #ff9900;
    box-shadow: 0 0 1px 0 rgba(255,153,0,1);
    outline: 0;
  }
}

input[type=text] {
  width: 100%;
}

input[type=datetime-local],
select {
  width: 30%;
}

textarea {
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  height: 200px;
  width: 100%;
  padding: 5px;
  resize: none;
}

.select_item {
  font-size: .8em;
  margin-bottom: 7px;
  & label {
    display: flex;
    align-items: flex-end;
  }

  & input {
    margin-right: 5px;
  }
}

#recruit_detail_wrapper {
  position: relative;
  padding-bottom: 100px;

  & .recruit_detail_table {
    border-radius: 10px;
    background: #dbffed;
    width: 90%;
  }

  & table {
    border-collapse: collapse;
  }

  & tr {
    text-align: left;
  }

  & th {
    font-weight: bold;
    width: 15%;
    padding: 2px 10px;
    color: #474747;
  }

  & td {
    padding: 10px;
    border-left: 1px solid #fff;
  }

  & .comment_form_area {
    position: fixed;
    bottom: 0;
    padding-bottom: 15px;
    width: 50%;
    background: #fff;
    z-index: 2;
  }

  & .comment_text_field {
    display: flex;
    align-items: center;
  }

  & .comment_text_input {
    font-size: 1.125em;
    margin-right: 20px;
    height: 40px;
  }

  & .item {
    display: flex;
    position: relative;
    border: 1px solid #DDDDDD;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 0;
    width: 90%;
  }

  & .profile_img {
    margin-right: 10px;
  }

  & .comment_delete_btn {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  & .comment_user_profile {
    display: flex;
    margin-bottom: 7px;
    & a {
      margin-right: 7px;
    }
    & small {
      line-height: 1.3rem;
    }
  }
}

#message_room_wrapper {
  & .item {
    border: 1px solid #DDDDDD;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px;
  }
}

#message_detail_wrapper {
  .current_user_message {
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;
  }
  .other_user_message {
    display: flex;
  }
}
.balloon_message {
  position: relative;
  width: 100%;
  margin: 1.2em 0;
  padding: 15px 0;
  overflow: hidden;

  & .message_info {
    display: flex;

    & .faceicon {
      & > img {
        height: auto;
        border: solid 3px #d7ebfe;
        border-radius: 50%;
      }
    }

    & .says {
      display: inline-block;
      position: relative;
      max-width: 70%;
      padding: 17px 13px;
      border-radius: 12px;
      background: #d7ebfe;

      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        border: 12px solid transparent;
      }
    }
  }

  & small {
    letter-spacing: 0em;
    position: absolute;
    bottom: 0;
  }
}

.current_user {
  & .message_info {
    flex-flow: row-reverse;
    & .faceicon {
      margin-left: 20px;
    }

    & .says {
      &:after {
        top: 18px;
        right: -24px;
        border-left: 12px solid #d7ebfe;
      }
    }
  }

  & small {
    right: 8%;
  }
}

.other_user {

  & .message_info {
    & .faceicon {
      margin-right: 20px;
    }

    & .says {
      &:after {
        top: 18px;
        left: -24px;
        border-right: 12px solid #d7ebfe;
      }
    }
  }
  & small {
    left: 8%;
  }
}

