.btn {
  @extend .font-md;
  display: inline-block;
  letter-spacing: 0.125em;
  border-radius: 30px;
  font-weight: bold;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  background: $cSubBase;
  color: #fff;
  padding: 8px 15px;

  &:hover {
    filter: brightness(80%);
  }

  &__send_message {
    width: 50px;
    height: 40px;
    margin: 0;
    padding: 7px 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
    background: $cSubBase;
  }

  &__recruit {
    @extend .font-lg;
    display: flex;
    width: 80%;
    background: $cBase;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    padding: 10px;
  }

  &__approve {
    border: 5px double #30ba4e;
    margin-right: 20px;
    &.active {
      color: #fff;
      background: #30ba4e;
    }

    &.no_active {
      color: #30ba4e;
      background: #fff;
    }

    &:hover {
      color: #fff;
      background: #30ba4e;
    }
  }

  &__reject {
    border: 5px double #DC3545;
    &.active {
      color: #fff;
      background: #DC3545;
    }

    &.no_active {
      color: #DC3545;
      background: #fff;
    }

    &:hover {
      color: #fff;
      background: #DC3545;
    }
  }

  &__reserve_confirm {
    &.no_active {
      background: #CCC;
      pointer-events: none;
    }
  }

  &__img_select {
    margin-top: 20px;
  }

  &__img_delete {
    @extend .font-lg;
    color: red;
    cursor: pointer;
  }

  &__message,
  &__back {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  &__new_report {
    position: fixed;
    bottom: 10vh;
    right: 3vh;
    font-size: 4em;
    background: #fff;
    color: $cBase;
  }

  &__comment_delete {
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 1em;
    align-items: center;
    justify-content: center;
  }

  &__recruit_edit,
  &__recruit_delete {
    display: flex;
    font-size: 1em;
    align-items: center;
    justify-content: space-around;
  }

  &__recruit_edit {
    margin-bottom: 10px;
  }

  &__reserve_list {
    margin-right: 10px;
  }

  &__comment_delete {
    width: 10px;
    height: 10px;
    top: 40px;
    right: 10px;
    font-size: 1em;
    padding: 15px;
  }
  &__submit {
    @extend .font-lr
  }
}