.btn {
  display: inline-block;
  background-color: #fff;
  letter-spacing: 0.125em;
  border: 1px solid #000;
  border-radius: 30px;
  font-weight: bold;
  padding: 10px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1.1em;
  transition: all 0.3s;

  &:hover {
    filter: brightness(80%);
  }

  &__send_message {
    border: none;
    width: 50px;
    height: 40px;
    margin: 0;
    padding: 7px 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
    background: $cSubBase;
  }

  &__recruit {
    display: flex;
    border: none;
    width: 80%;
    background: $cBase;
    text-align: center;
    padding: 0 30px;
    color: #fff;
  }

  &__approve {
    border: 5px double #30ba4e;
    margin-right: 20px;
    &.active {
      color: #fff;
      background: #30ba4e;
    }

    &.no_active {
      color: #30ba4e;
      background: #fff;
    }

    &:hover {
      color: #fff;
      background: #30ba4e;
    }
  }

  &__reject {
    border: 5px double #DC3545;
    &.active {
      color: #fff;
      background: #DC3545;
    }

    &.no_active {
      color: #DC3545;
      background: #fff;
    }

    &:hover {
      color: #fff;
      background: #DC3545;
    }
  }


  &__message {
    margin-right: 20px;
    border: none;
    background: $cSubBase;
    color: #fff;
  }
  &__reserve_confirm,
  &__help,
  &__contact,
  &__logout,
  &__withdraw,
  &__submit,
  &__img_select,
  &__profile_edit,
  &__follow,
  &__unfollow {
    border: none;
    background: $cSubBase;
    color: #fff;
    padding: 8px 15px;
  }

  &__reserve_confirm {
    &.no_active {
      background: #CCC;
      pointer-events: none;
    }
  }

  &__img_select {
    margin-top: 20px;
  }

  &__back {
    display: flex;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 6px;
  }

  &__new_report {
    position: fixed;
    bottom: 10vh;
    right: 20vh;
    font-size: 4em;
    background: #fff;
    color: $cBase;
  }
}
