.simple-calendar {

  & .calendar-heading {
    @extend .font-lg;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;

    & a {
      cursor: pointer;
      background: $cSubBase;
      color: #fff;
      border-radius: 4px;
      padding: 0 25px;
      margin-bottom: 20px;
    }
  }

  & table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    background: #fff;
  }

  & th {
    color: #000;
  }
  & th, td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 10%;
  }

  & th {
    background: $cSubBase;
    color: #fff;
  }

  & td.day {
    vertical-align: top;
  }

  & td:first-child {
    color: red;
  }

  & td:last-child {
    color: blue;
  }

  & td.prev-month,
  & td.next-month{
    color: #ccc;
  }

  & td.today {
    background-color: #F9F1C0;
  }

  & .event_area {
    @extend .font-sm;
  }

  & .event_count {
    @extend .font-md;
    margin: 20px 0;
    text-decoration: underline;
  }
  & .schedule_content {
    color: #000;
  }

  & .schedule_link {
    &:hover {
      text-decoration: underline;
    }
  }

  & svg {
    width: 25px;
    height: 25px;
    color: #000;
  }
}