input[type=text],
input[type=datetime-local],
select,
textarea {
  border: 1px solid #DDDDDD;
  border-radius: 20px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
  padding: 7px;
  font-family : inherit;
  font-size : 100%;

  &:focus {
    border: 1px solid #ff9900;
    box-shadow: 0 0 1px 0 rgba(255,153,0,1);
    outline: 0;
  }

  &.comment_text_input {
    font-size: 1.125em;
    height: 40px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

input[type=text] {
  width: 100%;
}

input[type=datetime-local],
select {
  width: 30%;
}

textarea {
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  height: 200px;
  width: 100%;
  padding: 5px;
  resize: none;
}

.select_item {
  font-size: .8em;
  margin-bottom: 7px;
  & label {
    display: flex;
    align-items: flex-end;
  }

  & input {
    margin-right: 5px;
  }
}

.comment_form_area {
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 60vw;
  background: #DDD;
  z-index: 2;
}

.comment_text_field {
  display: flex;
  align-items: center;
}


@mixin flex {
  display: flex;
  flex-direction: column;
}

.user_group {
  @include flex;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}
.user_control {
  @include flex;
  margin-bottom: 20px;
  width: 60%;
}

.user_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.post_group {
  @include flex;
  border-radius: 8px;
  vertical-align: top;
  background: #fff;
  text-align: left;
  padding: 30px;
}

.post_control {
  display: block;
  position: relative;
  margin-bottom: 15px;
  & .control {
    margin-bottom: 10px;
  }

  & small {
    @include badge;
    font-size: 5px;
    margin-left: 10px;
  }

  & .badge_any {
    background: gray;
  }
  & .badge_mandatory {
    background: red;
  }
}
.post_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.setting_group {
  margin: 30px;
}