/******************************************************************

Stylesheet: モバイルメニュー関連のCSS

******************************************************************/
.mobile_menu_btn {
  display: block;
  position: fixed;
  cursor: pointer;
  top: 8px;
  left: 9px;
  z-index: 996;
}