/******************************************************************

Stylesheet: 検索窓関連のCSS

******************************************************************/
.result_item {
  position: relative;
  border: 1px solid $cBorder;
  cursor: pointer;
  background: #fff;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s;
  }

  &:hover {
    &:before {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}