.tab {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid #DDD;
  &__item {
    display: flex;
    width: 50%;
    height: 50px;
    text-align: center;
    position: relative;
    border-right: 1px solid #DDD;
  }

  & li:last-child {
    border: none;
  }

  &__link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 3;
  }
  & .active {
    font-weight: bold;
    color: #fff;
    background: $cSubBase;
  }
}