/******************************************************************

Stylesheet: 3点リーダー関連のCSS

******************************************************************/
.ellipsis_h {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #536471;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #fff;
    filter: brightness(80%);
  }
}
.ellipsis_v {
  &__icon {
    cursor: pointer;
    color: #536471;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #fff;
      filter: brightness(80%);
    }
  }
}
