#three_point_reader {
  display: none;
  &:checked ~ .recruit_change_area {
  visibility: visible;
  opacity: 1;
}
}
.three_point_reader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $cBase;
  cursor: pointer;
  display: flex;
  font-size: 1.4em;
  align-items: center;
  justify-content: center;
  color: #fff;
}