.three_point_reader {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #DDD;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  // background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #fff;
    filter: brightness(80%);
  }
}