<h2 class="site__map_title">IRORIの歩き方</h2>
<img src="/images/map/map-general.png" alt="" class="site__map_img">
<div class="site__wrapper">
  <table class="site__explanation_table">
    <tr>
      <th>①ホーム</th>
      <td>フォローしたユーザーの募集が新着順で表示されます</td>
    </tr>
    <tr>
      <th>②プロフィール</th>
      <td>ログイン中のユーザーの情報が表示されます</td>
    </tr>
    <tr>
      <th>③募集</th>
      <td>募集状況が日/週/月単位で表示されます</td>
    </tr>
    <tr>
      <th>④卓報告</th>
      <td>お世話になったGM/PLにお礼を言うことができます</td>
    </tr>
    <tr>
      <th>⑤メッセージ</th>
      <td>ユーザー同士でDMを送り合えます</td>
    </tr>
    <tr>
      <th>⑥通知</th>
      <td>フォローされた時/募集にコメントがあった時/メッセージ受信時/予約時/予約キャンセル時に通知が表示されます</td>
    </tr>
    <tr>
      <th>⑦スケジュール</th>
      <td>現在の募集/予約状況がカレンダーで表示されます</td>
    </tr>
    <tr>
      <th>⑧設定</th>
      <td>ヘルプ/問い合わせ/ログアウト/退会ボタンが表示されます</td>
    </tr>
    <tr>
      <th>⑨募集する</th>
      <td>ここから募集をかけることができます</td>
    </tr>
    <tr>
      <th>⑩経験値</th>
      <td>予約確定時と評価された時(星2.5以上)で1レベルUPする</td>
    </tr>
    <tr>
      <th>⑪プロフィール編集</th>
      <td>ニックネーム/ユーザーアイコン/紹介文を編集できます</td>
    </tr>
    <tr>
      <th>⑫投稿</th>
      <td>ログイン中のユーザーの募集が新着順で表示されます</td>
    </tr>
    <tr>
      <th>⑬検索窓</th>
      <td>ユーザー/募集をフリーワード検索できます</td>
    </tr>
    <tr>
      <th>⑭ニュース一覧</th>
      <td>ボードゲーム関連のニュースが表示されます</td>
    </tr>
  </table>
</div>
