<h2 class="site__map_title">1. 参加したい募集を探す</h2>
<p>①現在の募集が日/週/月単位で表示されます</p>
<img src="/images/map/map-reserve-1.png" alt="" class="site__map_img">
<p>②気になる募集をクリックしてみましょう</p>
<img src="/images/map/map-reserve-2.png" alt="" class="site__map_img">
<h2 class="site__map_title">2. 募集内容を確認する</h2>
<img src="/images/map/map-reserve-3.png" alt="" class="site__map_img">
<div class="site__wrapper">
  <table class="site__explanation_table">
    <tr>
      <th>③GM</th>
      <td>投稿主を確認してください</td>
    </tr>
    <tr>
      <th>④タイトル</th>
      <td>ボードゲーム名を確認してください</td>
    </tr>
    <tr>
      <th>⑤日時</th>
      <td>日時を確認してください</td>
    </tr>
    <tr>
      <th>⑥所要時間</th>
      <td>所要時間を確認してください</td>
    </tr>
    <tr>
      <th>⑦定員</th>
      <td>定員を確認してください</td>
    </tr>
    <tr>
      <th>⑧プレイ形態</th>
      <td>プレイ形態を確認してください</td>
    </tr>
    <tr>
      <th>⑨参加条件</th>
      <td>参加条件を確認してください</td>
    </tr>
  </table>
</div>
<p>⑩予約する前に参加可能か確認してもいいでしょう</p>
<img src="/images/map/map-reserve-4.png" alt="" class="site__map_img">
<h2 class="site__map_title">3. 予約してみましょう</h2>
<p>画面上部にある予約ボタンから予約しましょう</p>
<img src="/images/map/map-reserve-5.png" alt="" class="site__map_img">
<h2 class="site__map_title">4. 予約をキャンセルする</h2>
<p>画面上部にあるキャンセルボタンからキャンセルする</p>
<img src="/images/map/map-reserve-6.png" alt="" class="site__map_img">