<h2 class="site__map_title">1. お礼を伝える</h2>
<p>①お世話になったGM/PLにお礼を伝えましょう</p>
<img src="/images/map/map-review-1.png" alt="" class="site__map_img">
<img src="/images/map/map-review-2.png" alt="" class="site__map_img">
<div class="site__wrapper">
  <table class="site__explanation_table">
    <tr>
      <th>②お礼を言う相手</th>
      <td>ユーザー検索フォームから該当するユーザーを検索しましょう</td>
    </tr>
    <tr>
      <th>③評価</th>
      <td>5段階評価で評価してあげましょう</td>
    </tr>
    <tr>
      <th>④メッセージ</th>
      <td>お礼内容を詳しく入力してください</td>
    </tr>
    <tr>
      <th>⑤評価する</th>
      <td>必要事項を入力の上、評価してあげましょう</td>
    </tr>
  </table>
</div>
<p>評価した内容は相手に通知が届きます</p>
<img src="/images/map/map-review-3.png" alt="" class="site__map_img">
