<div id="wrapper">
  <div class="inner">
    <div class="head_link">
      <span>
        <%= link_to setting_path, class: "btn__back" do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
      </span>
      <span>
        <h2>設定</h2>
      </span>
    </div>
  </div>
</div>