<div id="wrapper">
  <div class="inner">
    <div class="head_link">
      <h2>ホーム</h2>
    </div>
    <div class="user_recruit_list">
      <%= render 'user/recruits/list', recruits: @recruits %>
    </div>
  </div>
</div>
