<div id="wrapper">
  <div class="head_link">
    <h2>設定</h2>
  </div>
  <div class="area area__setting">
    <div class="setting_group">
      <%= link_to help_path, class: "btn btn__help" do %>
        <i class="fas fa-question"></i>
        <span>ヘルプ</span>
      <% end %>
    </div>
    <div class="setting_group">
      <%= link_to contact_path, class: "btn btn__contact" do %>
        <i class="fas fa-envelope"></i>
        <span>問い合わせ</span>
      <% end %>
    </div>
    <div class="setting_group">
      <%= link_to destory_user_session_path, method: :delete, class: "btn btn__logout" do %>
        <i class="fas fa-sign-out-alt"></i>
        <span>ログアウト</span>
      <% end %>
    </div>
    <div class="setting_group">
      <%= link_to withdraw_users_path, method: :delete, class: "btn btn__withdraw", data: {confirm: "本当に退会しますか？"} do %>
        <i class="fas fa-user-times"></i>
        <span>退会する</span>
      <% end %>
    </div>
  </div>
</div>