<div id="top_wrapper">
  <div class="top_img"></div>
  <div class="top_section">
    <div class="copy">
      <p class="top_title">
        <img src="/images/site-logo.png" alt="サイトロゴ" class="top_site_logo">
         へようこそ
      </p>
      <p class="sub_title">さぁボードゲームで遊んでみましょう。</p>
    </div>
    <div class="account_sign">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn__signup" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn__login" %>
    </div>
  </div>
</div>
