<%= link_to reserve_path(reserve, :recruit_id => recruit.id, :status => "approve_reserve"), method: :patch, remote: true, class: "btn btn__approve #{approve_active}" do %>
  <i class="far fa-check-circle"></i>
  <span>承認</span>
<% end %>
<%= link_to reserve_path(reserve, :recruit_id => recruit.id, :status => "reject_reserve"), method: :patch, remote: true, class: "btn btn__reject #{reject_active}" do %>
  <i class="far fa-times-circle"></i>
  <span>拒否</span>
<% end %>