<div id="wrapper">
  <div class="head_link">
    <span class="head_link__inner">
      <%= link_to recruit_path(@recruit), class: "btn btn__back" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <h2 class="head_link__title">予約完了</h2>
    </span>
  </div>
  <div class="area area__reserve_complete">
    <p class="reserve_complete_message">
       予約確定しました。<br>
       参加者全員にDiscordのサーバーリンクを送信しました。<br>
       全員のサーバー参加を確認してください。
    </p>
    <img src="/images/Discord-Logo-Color.png" alt="Discordロゴ">
  </div>
</div>