<div id="wrapper">
  <div class="head_link">
    <span class="head_link__inner">
      <%= link_to waiting_recruit_reserves_path, class: "btn btn__back" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <h2 class="head_link__title">予約確認</h2>
    </span>
  </div>
  <div class="area area__reserve_confirm">
    <ul class="list">
      <% @reserves.each do |reserve| %>
        <li class="item">
          <%= attachment_image_tag reserve.user, :icon_image, fallback: "no-icon.png", class: "face_icon icon_md"  %>
          <%= reserve.user.nickname %>
        </li>
      <% end %>
    </ul>
    <div class="confirm_btn_area">
      <%= link_to "予約確定", complete_recruit_reserves_path, class: "btn" %>
    </div>
  </div>
</div>