<ul class="tab">
  <li class="tab__item">
    <%= link_to schedule_today_recruits_path, class: "tab__link" do %>
      今日
    <% end %>
  </li>
  <li class="tab__item">
    <%= link_to schedule_week_recruits_path, class: "tab__link" do %>
      今週
    <% end %>
  </li>
  <li class="tab__item">
    <%= link_to schedule_month_recruits_path, class: "tab__link" do %>
      今月
    <% end %>
  </li>
</ul>