<div class="recruit_change_area">
  <%= link_to edit_recruit_path(recruit), class: "btn" do %>
    <i class="fas fa-pen"></i>
  <% end %>
  <%= link_to recruit_path(recruit), method: :delete, class: "btn" do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>