<div class="recruit_change_area">
  <%= link_to edit_recruit_path(recruit), class: "recruit_edit_btn" do %>
    <i class="fas fa-pen"></i>
  <% end %>
  <%= link_to recruit_path(recruit), method: :delete, class: "recruit_delete_btn", data: {confirm: "削除しますか？"} do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>