<div id="wrapper">
  <div class="inner">
    <div class="head_link">
      <span class="head_link__inner">
        <%= link_to recruit_path(@recruit), class: "btn btn__back" do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
        <h2 class="head_link__title">募集編集</h2>
      </span>
    </div>
    <div class="area area__recruit_edit">
      <%= render 'user/recruits/form', recruit: @recruit %>
    </div>
  </div>
</div>