<div id="wrapper">
  <div class="head_link">
    <h2 class="head_link__title">通知</h2>
  </div>
  <div class="area area__notice_list">
    <% if @notifications.present? %>
      <ul class="list">
        <%= render @notifications %>
      </ul>
      <div id="modal"></div>
      <%= paginate @notifications %>
      <%= render 'layouts/loader' %>
    <% else %>
      <p>通知はありません</p>
    <% end %>
  </div>
</div>