<div class="page-load-status" style="display:none;">
  <div class="infinite-scroll-request">
    <div class="rect-spinner">
      <!--<div></div>-->
      <!--<div></div>-->
      <!--<div></div>-->
      <!--<div></div>-->
      <!--<div></div>-->
    </div>
  </div>
  <p class="infinite-scroll-last">これ以上はページがありません</p>
  <p class="infinite-scroll-error">読み込むページがありません</p>
</div>